:root {
    --margin1: 20px;
    --white: #ffffff;
    --paddingright: 6px;
    --paddingright2: 1px;
  }
  
  @font-face {
    font-family: 'VAG';
    src: url("../VAG Rounded Next SemiBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'CMU';
    src: url("../cmu.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'CMUI';
    src: url("../cmui.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'DiGrotesk';
    src: url("../DiGrotesk-Regular.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Diatype';
    src: url("../ABCDiatypeSemi-Mono-Regular.otf") format('opentype');
  }
  
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  body * {
    padding: 0;
    margin: 0;
    font-family: 'VAG';
    letter-spacing: .075em;
    line-height: 1.1em;
  }
  
  a {
    color: black !important;
    text-decoration: none !important;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr;
  }

  .page-enter-active,
  .page-leave-active {
    transition: opacity 0.5s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: transform 0.5s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    transform: translate(0px, 1000px);
  }
  
  .slide-enter-active,
  .slide-leave-active {
    transition: transform 0.8s ease;
  }
  
  .slide-enter-from,
  .slide-leave-to {
    transform: translate(0px, -1500px);
  }
  
  .scale-enter-active,
  .scale-leave-active {
    transition: all 0.5s ease;
  }
  
  .scale-enter-from,
  .scale-leave-to {
    opacity: 0;
    transform: scale(0.9);
  }